# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart
pubspec.lock

# Android
android/app/google-services.json
android/.gradle
android/local.properties

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.podspec
ios/.symlinks

# VS Code
.vscode/
.idea/

# Misc
*.iml
*.log
